<% include header.ejs %>
<script src="/javascripts/updateTime.js"></script>
<div class="container">
    <div class="row clearfix">
        <div class="span6 column ui-sortable">
            <blockquote>
                <p>
                <h2>上下班登记记录</h2>
                </p> <p>当前系统时间 <span id="nowTime"><%=now_str%></span></p>
            </blockquote>
        </div>
        <div class="span6 column ui-sortable">
            <div class="" style="float: right">

                <h5>username:<%=user.username%></h5>
                <h3><%=user.realname%></h3>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="span12 column">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>出勤时间</th>
                    <th>退勤时间</th>
                    <th>考勤状态</th>
                </tr>
                </thead>
                <tbody>
                <% signList.forEach(function (sign) {
                %>
                <tr <%
                    if(sign.signStatus == "正常"){
                        %>
                        class="success"
                        <%
                    }else if(sign.signStatus == "迟到" || sign.sign_status == "早退"){
                        %>
                        class="warning"
                        <%
                    }else{
                        %>
                        class="error"
                        <%
                    }
                  %>>
                    <td><%=sign.signDate%></td>
                    <td><%=sign.signInTime%></td>
                    <td><%=sign.signOutTime%></td>
                    <td><%=sign.signStatus%></td>
                </tr>
                <%
                })%>

                </tbody>
            </table>
        </div>
    </div>

</div>
<% include footer.ejs%>